.header {
    display: flex;
    background-color: #2B303A;
    color: white;
    width: 100vw;
    padding: 12px;
    .right-links {
        margin-left: auto;
        a {
            padding-left: 12px;
        }
    }
    
}

.wrapper{
    display: flex;
    width: 80vw;
    max-width: 800px;
    margin: auto;
}
.section-one{
    background-color: #2B303A;
    color: white;
    .wrapper{
        justify-content: center;
    }
    .content {
        * {
            margin-bottom: 10px;
        }
    }
    padding: 36px 0;
}

.section-two {
    h2 {
        margin: 36px;
    }
    padding-bottom: 90px;
    text-align: center;
    .content {
        display: flex;
        justify-content: center;
        gap: 24px;
        p {
            max-width: 150px;
        }
    }
}
.section-three {
    padding: 72px;
    background-color: #DDE1E5;
    .quote {
        display: block;
        width: 50vw;
        margin: 0 auto;
        font-size: 36px;
        color: #1F2937;
        font-weight: lighter;
    }
    .quote-source {
        display: block;
        margin: 0 auto;
        text-align: right;
        width: 50vw;
    }
}
.section-four {
    color: white;
    margin: 36px;

    p {
        margin: 0;
    }
    .call-to-action{
        background-color: #3E7DF0;
    }
    .wrapper{
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        border-radius: 12px;
        padding: 36px 120px;
        box-sizing: border-box;
    }
    button {
        border: 1px solid white;
    }
}

.footer{
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding:32px;
}

button {
    background-color: #3E7DF0;
    border-radius: 4px;
    padding: 6px 24px;
    color: white;
    border: none;
}

   @font-face {
     font-family: "Roboto-Italic";
     src: url("./Roboto-Italic-VariableFont_wdth,wght.ttf");
   }
   
   @font-face {
     font-family: "Roboto";
     src: url("./Roboto-VariableFont_wdth,wght.ttf");
   }

body {
    font-family: 'Roboto','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    margin: 0;
}